@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<a asp-action="Index" asp-controller="Users" class="btn btn-primary form-control">Users</a>

<h3 class="text-danger">Danger</h3>
<a asp-action="Reset" class="btn btn-danger form-control">Reset</a>
