@model System.Collections.Generic.IList<UserEvacuationStatusViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                // TODO implement status selection per user.
            }
        </tbody>
    </table>
</form>