
@{
    ViewData["Title"] = "Reset";
}

<h2>Reset</h2>

<p class="bg-danger">Are you sure you want to reset the evacuation log? This action cannot be undone.</p>

<form asp-action="Reset">
    <input type="submit" class="btn btn-danger" value="Reset" />
</form>

<a asp-action="Index" class="btn btn-primary">Cancel</a>