@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport"/>
    <title>@ViewData["Title"] - MichaelBrandonMorris.KingsportMillEvacuationLogger</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css"
              rel="stylesheet"/>
        <link href="~/css/site.css"
              rel="stylesheet"/>
    </environment>
    <link href="~/css/MvcGrid/mvc-grid.css"
          rel="stylesheet">
    <environment names="Staging,Production">
        <link asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"/>
        <link asp-append-version="true"
              href="~/css/site.min.css"
              rel="stylesheet"/>
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body onresize="AdjustPadding();">
    <nav class="navbar navbar-fixed-top navbar-inverse"
         id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle"
                        data-target=".navbar-collapse"
                        data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-action="Index"
                   asp-area=""
                   asp-controller="Home"
                   class="navbar-brand">
                    Kingsport Mill Evacuation Logger
                </a>
            </div>
            @if (User.IsInRole("Owner")
                 || User.IsInRole("Administrator")
                 || User.IsInRole("Security"))
            {
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a asp-action="Admin"
                               asp-controller="Home">
                                Admin
                            </a>
                        </li>
                        @if (User.IsInRole("Owner")
                             || User.IsInRole("Administrator"))
                        {
                            <li>
                                <a aria-expanded="false"
                                   aria-haspopup="true"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#"
                                   role="button">
                                    Users
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-action="Index"
                                           asp-controller="Users">
                                            Index
                                        </a>
                                    </li>
                                    <li class="divider"
                                        role="separator">
                                    </li>
                                    <li class="dropdown-header">Actions</li>
                                    <li>
                                        <a asp-action="Upload"
                                           asp-controller="Users">
                                            Upload
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Delete"
                                           asp-controller="Users">
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }                      
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            }
        </div>
    </nav>

    <div class="body-content container">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; 2017 - Kingsport Mill Evacuation Logger</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script asp-append-version="true"
                src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"
                src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js">
        </script>
        <script asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js">
        </script>
        <script asp-append-version="true"
                src="~/js/site.min.js"></script>
    </environment>

    <script src="~/js/MvcGrid/mvc-grid.js"></script>
    <script type="text/javascript">
        $('.mvc-grid').mvcgrid();
    </script>
    <script type="text/javascript">
        AdjustPadding();

        function AdjustPadding() {
            document.body.style.paddingTop = $("#navbar").height() + "px";
            document.body.style.paddingBottom = $("#refreshButton").outerHeight() + "px";
        }
    </script>

    @RenderSection("Scripts", false)
</body>
</html>