@model MichaelBrandonMorris.KingsportMillEvacuationLogger.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p class="bg-info">You are changing the password for <b>@Model.Email</b></p>

<form asp-action="ChangePassword"
      class="form-horizontal">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label class="col-md-2"
               asp-for="NewPassword"></label>
        <div class="col-md-10">
            <input type="password" asp-for="NewPassword" class="form-control" />
        </div>
        
    </div>
    
    <div class="form-group">
        <label class="col-md-2" asp-for="ConfirmPassword"></label>
        <div class="col-md-10">
            <input type="password" asp-for="ConfirmPassword" class="form-control"/>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Change Password"/>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>
