@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Delete">
    <table>
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Delete?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        <input type="checkbox"
                               name="userIds"
                               value="@item.Id"/>
                    </td>
                </tr>
            }
        </tbody>    
    </table>
    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
